<div class="card" 
style="color: black;">
  <div class="card-header">
      <div class="row">
        <div class="col" routerLink="/admin/pet">
            <h1 >PETS</h1>
        </div>
        <div class="col">
            <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['novo']"
          >
            Novo Item para Página: <strong> PET </strong>
          </button>
        </div>
      </div>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
