<div>
    <div class="admin-dashboard">
        <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="atendimento" [routerLink]="['atendimento']">Atendimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="pet" [routerLink]="['pet']">Pet</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link active" aria-current="pet" [routerLink]="['veterinario']">Veterinario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="pet" [routerLink]="['raca']">Raça</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="pet" [routerLink]="['especialidade']">Especialidade</a>
            </li>
        </ul>
    </nav>
    </div>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  
  </div>