<h1>LISTA DE PETS</h1>
<table
      class="table table-hover"
      *ngIf="items$ | async as items; else loadingError"
    >
      <thead>
        <tr  class="text-center">
          <th>#ID</th>
          <th>NOME</th>
          <th>RESPONSÁVEL</th>
          <th>IDADE</th>
          <th>ESPECIE</th>
          <th>RAÇA</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let it of items">
            <td>{{ it.id }}</td>
            <td>{{ it.nome }}</td>
            <td>{{ it.responsavel }}</td>
            <td>{{ it.idade }}</td>
            <td>{{ it.especie }}</td>
            <td>{{ it.raca }}</td>
          
          <td  class="text-center">
            <span class="float-right">
                
              <button
                class="btn btn-outline-success mb-1 btn-sm"
                [routerLink]="[it.id]"
                >
                Detalhes
                </button>
              <button
                class="btn btn-outline-primary mb-1 btn-sm"
                [routerLink]="[it.id, 'editar']"
              >
                Editar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    
<ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
      <div class="container">
        <h4 class="text-center">
          Erro ao carregar a página.
        </h4>
        <hr />
        <h5>Motivos:</h5>
        <ul>
          <li>Pode não haver conteúdos a serem carregados</li>
          <li>A página pode estar em manutenção.</li>
          <li>O conteúdo pode ter sido excluído.</li>
          <li>Pode ter ocorrido algum erro ao conectar com o servidor.</li>
        </ul>
        <hr />
        <h5>Por favor:</h5>
        <ul>
          <li>
            <button
              class="btn btn-outline-success mb-1 btn-sm"
              (click)="onRefresh()"
            >
              Clique aqui
            </button>
            e/ou
            <button class="btn btn-outline-secondary mb-1 btn-sm">
              Pressione F5
            </button>
            para recarregar a página.
          </li>
          Ou
          <li>
            Entre em contato com nosso suporte por:
            <ul>
              <li>telefone</li>
              <li>email</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>

<ng-template #loading>
    <div class="container">
      <div class="text-center">
        <p></p>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p></p>
        <p>
          <!--
              Carregando conteúdos da <strong>{{ pageName | titlecase }}</strong> Page
          -->

          ...
        </p>
      </div>
    </div>
  </ng-template>